<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540737439716-j0go1ppj0t3fdmj0jbijeivaesdom1k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540737439716-j0go1ppj0t3fdmj0jbijeivaesdom1k3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540737439716-j468vskjf472rfapeaqc801lma4jcoem.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfP_nRojdA-sb2Qmvdkrl2wHaZskpyic4</string>
	<key>GCM_SENDER_ID</key>
	<string>540737439716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meyoImpact.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meyo-impact</string>
	<key>STORAGE_BUCKET</key>
	<string>meyo-impact.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540737439716:ios:02c081136650f002b969f1</string>
</dict>
</plist>